<h1>Driving Directions</h1>
<div class="row">
    <form class="form form-horizontal">
        <div class="form-group col-md-4">
            <input type="text" ng-model="starting" class="form-control" placeholder="From">
        </div>
        <div class="form-group col-md-4">
            <input type="text" ng-model="ending" class="form-control" placeholder="Destination">
        </div>
        <button type="submit" class="btn btn-primary" ng-click="getDirections()">Get Directions</button>
    </form>
</div>
<div class="row" ng-show="res">
    <div class="col-md-3">
        <label>Start Location</label>
        <p>{{res.start_location}}</p>
    </div>
    <div class="col-md-3">
        <label>End Location</label>
        <p>{{res.end_location}}</p>
    </div>
    <div class="col-md-3">
        <label>Distance</label>
        <p>{{res.distance}}</p>
    </div>
    <div class="col-md-3">
        <label>Duration</label>
        <p>{{res.duration}}</p>
    </div>
</div>
<hr/>
<div class="row" ng-show="res">
    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr class="bg-primary">
            <td>Direction</td>
            <td>Distance</td>
            <td>Duration</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="x in res.directions">
            <td><p ng-bind-html="x.direction"></p></td>
            <td>{{x.distance}}</td>
            <td>{{x.duration}}</td>
        </tr>
        </tbody>

    </table>
</div>